<mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <span >Create User</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar><br>
<mat-form-field >
  <mat-label>First Name</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field floatLabel="auto">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
<mat-form-field floatLabel="auto">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
<mat-form-field floatLabel="auto">
    <mat-label>Phone Number</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
<mat-form-field floatLabel="auto">
    <mat-label>Address</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
<mat-form-field floatLabel="auto">
    <mat-label>State</mat-label>
    <input matInput>
  </mat-form-field>

<mat-form-field floatLabel="auto">
    <mat-label>city</mat-label>
    <input matInput>
  </mat-form-field>

<mat-form-field floatLabel="auto">
    <mat-label>Country</mat-label>
    <input matInput>
  </mat-form-field>
<br>
<button mat-raised-button color="primary" align="end">Cancel</button>

<button mat-raised-button color="primary" align="end">Save</button>
